<% provide(:title, "Index page number management") %>

	
	<h2>Adjust page numbers</h2>
		<p>
			<label>Input page:</label>
			<input type="text" id="input_page" />
		</p>
		<p>
			<label># of pages:</label>
			<input type="text" id="input_pages" />
		</p>
		<p>
			<button id="changeButton">Change</button>
		</p>
	
	<h2>Edit Reference</h2>
		<p>
			<label>Reference name:</label>
			<input type="text" id="" />
		</p>
		<p>
			<label>Pages:</label>
			<input type="text" id="" />
		</p>
		
	
	<table id="original">
		<tr class="head">
			<th style="width:250px">Reference</th>
			<th>Pages</th>
		</tr>
		<tr>
			<td>Accounting</td>
			<td>5, 45, 230, 415, 419, 712</td>
		</tr>
	</table>
	
	<h2>Output</h2>
	<table id="output">
		<tr class="head">
			<th>Edit</th>
			<th style="width:250px">Reference</th>
			<th>Pages</th>
			<th>Add new pages</th>
		</tr>
		<tr>
			<td><button>Edit</button></td>
			<td>Accounting</td>
			<td>5, 45, 230, 415, 419, 712</td>
			<td><input type="text" id="" /></td>
		</tr>
	</table>



