<% provide(:title, "Index page number management") %>

<div class="row-fluid sticky">
 	
	<div class="span5" id="editReference">
		<h3>Edit Reference</h3>
		<form id="edit">
		<p>
			<div class="pull-left">
				<label>Level:</label>
				<input type="text" id="level" class="input-mini" />
			</div><div class="pull-left">
				<label>Reference name:</label>
				<input type="text" id="name" />
			</div>
		</p>
		<p class="pull-left">
			<label>Pages:</label>
			<input type="text" id="pages" />
		</p>
		<p class="pull-left">
			<input type="submit" class="btn btn-primary update" value="Update"/>
			<button class="btn btn-danger remove" type="button">Remove</button>
			<button class="btn add" type="button">Add new reference</button>
		</p>
		</form>
	</div>
	
	<div class="span4" id="pageNums">
		<h3>Adjust page numbers</h3>
		<p>
			<label>Input page:</label>
			<input type="text" id="input_page" />
		</p>
		<p>
			<label># of pages:</label>
			<input type="text" id="input_pages" />
		</p>
		<p>
			<button class="btn" id="changeButton">Change</button>
		</p>
	</div>
	<div class="shadow"></div>
</div>

<div class="row-fluid moving">
	<div class="span12">
		
		<h2>Index</h2>
		<table id="index" class="table table-bordered">
			<tr class="head">
				<th style="width:50px">Lvl</th>
				<th style="width:350px">Reference</th>
				<th style="width:300px">Pages</th>
				<th>Add new pages</th>
			</tr>
			
		</table>

	</div>
</div>
	
	
