
@import "bootstrap/bootstrap";
@import "mixins";
//@import "type";

* {
	margin: 0;
	padding: 0;
}

body {
	color: @textColor;
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
}





