<td><%= level %></td>
<td><%= name %></td>
<td><%= pages %></td>
<td><form id="add-new" class="input-append">
	<input type="text" class="input-small add-pgs"/>
	<input type="submit" class="btn btn-success" value="+"/>
</form></td>